@import url("https://fonts.googleapis.com/css2?family=Modak&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Modak", serif;
    font-style: bold;
}

@layer utilities {
    .scrollbar-bottom::-webkit-scrollbar {
        width: 8px; /* Thickness of the vertical scrollbar */
        height: 6px; /* Thickness of the horizontal scrollbar */
    }

    .scrollbar-bottom::-webkit-scrollbar-thumb {
        background-color: #d4a5a5; /* Scrollbar thumb color */
        border-radius: 9999px; /* Fully rounded for a pill shape */
        /* Add spacing around the thumb */
    }
}
